######################################################################
# Build Tools
dependency-reduced-pom.xml
/target

######################################################################
# IDE

### IntelliJ IDEA ###
.idea
**/*.iml
